
.genre-page { 
    background-image: url('/public/vinn.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    height: fit-content;
    margin: 0;
    padding-top: 50px; 
}

.genre-container {
    display: flex;
    justify-content: space-between; 
    width: 70%; 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
}

.genre-link {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 22%; 
    box-sizing: border-box;
}

.genre-image {
    width: 100%;  
    height:200px; 
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #000;
}

.genre-name {
    color: rgb(15, 16, 16);
    margin-top: 8px;
    font-size: 16px; 
}
