
  .romance-page {
    padding: 1000px;
    padding-top: 2800px;
    margin-top: 500px;
    background-image: url('/public/r2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  
  h1 {
    font-size: 3em;
    font-weight: bold;
    color: #f39224;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Abril Fatface", serif;
    margin-bottom: 30px;
  }
  
  
  .book-list {
    list-style-type: none;
    padding-top: 20px;
  }
  
  .book-item {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
    background: rgba(5, 5, 5, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.918);
    padding: 50px 150px 50px 60px;
    overflow: hidden;
  }
  
  .book-cover {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  .book-details {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 100px;
    text-align: left;
  }
  
  .book-details h2 {
    margin-left: 0; 
    font-size: 1.8em; 
    color: white;
    white-space: nowrap;
  }
  
  .book-details p {
    margin: 5px 0;
    font-size: 1.2em; 
    color: white;
  }
  
  .book-details .author {
    margin-top: 10px; 
  }
  .book-details p.teaser {
    font-size: 0.85em; 
    width: 100%; 
    max-width: 1000px; 
    margin: 10px 0; 
    color: bisque;
  }
  .download-button {
    margin-top: 10px; 
  }
  
  .download-button button {
    background-color: #ee8732; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1em; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  .download-button button:hover {
    background-color: #a35e02; 
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
  .download-button button:active {
    background-color: #d67a10; 
  }
  .book-details .blurb-label {
    color: white ;
    font-weight: bold; 
  }